.box-height{
    width: 100px;
    height:100px;
    display: inline-block;
  }
  #box1 {
    background-color: gray;
    color: red;
    
  }
  #box2 {
    background-color: gray;
    color: blue;
  }
  #box3 {
    background-color: gray;
    color: yellow;
  }
  #box4 {
    background-color: gray;
    color: lightpink;
  }
  #box5 {
    background-color: gray;
    color: white;
  }
  #box6 {
    background-color: gray;
    color: lightblue;
  }
  